doctype html
html
	head
		title ChatBOT
		link(rel="stylesheet", href="style.css")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css')
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/socket.io/socket.io.js")
		script(src="script.js")

		
	body
		div.container#main
			div.navbar.navbar-fixed-top
				div.navbar-inner
					div.container
						a.brand(href="#") Chat with a BOT!!
			div#chatEntries
			div.row#entries
				input(type='text')#messageInput
				div.btn-group
					button.btn#submit(data-loading-text="Send") Send
					button.btn.dropdown-toggle(data-toggle="dropdown")
						span.caret
					ul.dropdown-menu
						li
							a#edit(href="#modalPseudo", data-toggle="modal")
								i.icon-user
								| Change name
						

					button.btn(onclick='startFunc();')				 
						i.fa.fa-microphone
					script(type='text/javascript').
						var r = document.getElementById('chatEntries');
						function startFunc () {
						if('webkitSpeechRecognition' in window){
						var recognition = new webkitSpeechRecognition();
						recognition.on
						recognition.continuous = true;
						recognition.interimResults = true;
						recognition.lang = 'en-IN', 'en-GB', 'en-US';
						recognition.start();
						var finalTranscripts = '';
						recognition.onresult = function(event){
						var interimTranscripts = '';
						for(var i = event.resultIndex; i < event.results.length; i++){
						var transcript = event.results[i][0].transcript;
						transcript.replace("\\n", "<br>");
						if(event.results[i].isFinal){
						finalTranscripts += event.results[i][0].transcript;
						document.getElementById('messageInput').value = finalTranscripts + interimTranscripts;
						document.getElementById('submit').disabled=false;
						document.getElementById('submit').click();
						}else{
						interimTranscripts += event.results[i][0].transcript;
						}
						}
						
						};
						recognition.onerror = function (event) {
						};
						}else{
						r.innerHTML = 'your current browser does not support microphone';
						}
						}
			
      																	
	
			div#nbUsersDiv
				p There is 
					span#nbUsers
					| connected user(s).

	div.modal.fade#modalPseudo
		div.modal-header
			h3 Choose a name
		div.modal-body
			p Choose a name :
			input(type='text')#pseudoInput
			div.alert.alert-error#alertPseudo
				| This name is taken! Please choose another one.
		div.modal-footer
			button.btn.btn-primary#pseudoSubmit Goto chat
